@import url("reset.css") all;
@import url("fonts.css") all;
body{
    font-family: 'Open-Sans';
}
.centr-position{
    max-width: 1147px;
    min-width: 320px;
    margin: 0 auto; 
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;  
}


.btn{  
    width: 164px;
    height: 39px;
    border: #ff3251 solid 1px;
    border-radius: 17px;    
    text-transform: uppercase;
    line-height: 39px;
    color: #ff3251;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
}
.btn-help{
    float: right;
    margin-top: 19px;
}
.btn:hover{
    background-color: #ff3251;
    color:  #ffffff;;
}
.btn-line {
    max-width: 792px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 70px;    
}
.btn-line > .btn{
    float: left;
    margin-left: 16px;
    margin-right: 16px;
}
.btn-gift{
    margin: 0 auto;
    margin-top: 69px
}



.main-title{
    max-width: 785px;
    height: 163px;
    text-shadow: -1px 3px 7px rgba(48, 50, 55, 0.42);
    color: #ffffff;
    font-size: 48px;   
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
    padding-top: 332px;
}
.title{
    color: #ff3251;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
    padding-top: 82px;
    padding-bottom: 22px;
}
.title-alt{
    color: #ff3251;
    font-size: 16px;   
    line-height: 20px;    
    text-align: center;
    margin: 18px auto;
}
.title-highlight{
    color: #00c7c0;
    font-size: 24px;
}
.subtitle{
    color: #1f1f1f;
    font-size: 14px;    
    line-height: 20px;
}
.text{   
    color: #626261;
    font-size: 16px;   
    line-height: 30px;
    text-align: center;
}
.text-small{
    width: 258px;
    color: #626261;
    font-size: 13px;   
    line-height: 20px;
    margin: 0 auto;
}
.red-text{
    color: #ff3251;
}


.header{
    float: left;
    width: 100%;
    height: 80px;
    background-color: #eeeeef;
    box-shadow: -2px 5px 34px 1px rgba(0, 0, 0, 0.16);
    opacity: 0.8;
}
.menu-item{
    list-style: none;
    float: left;
    text-align: center;
    margin-right: 10px;
    width: 100px;
}
.menu-link{
    color:  #797979;
    text-decoration: none;  
    font-size: 14px;    
    line-height: 80px;
}
.menu-link:hover{
    color: #ff3251;
}



.title-block{
    width: 100%;
    height: 737px;
    background-image: url(../img/title-bgr.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img-arrow{
    margin: 0 auto;
    margin-top: 205px;
    cursor: pointer;
    display: block;
    width: 30px;
    height: 15px;
    box-shadow: -2px 4px 1px 1px rgba(0, 0, 0, 0.15);
}


.advantages-text{
    max-width: 850px;
    display: block;
    margin: 0 auto;
    margin-bottom: 145px;
}
.icon{
    font-size: 52px;
    color: #ff3251;
}
.reason-line{
    margin-bottom: 77px;
}
.reason{
    float:left;
    width: 25%;
    text-align: center;
    margin-bottom: 35px;
  
}


.catalog{
    min-height: 864px;
    background-color: #f4f6f8;
    padding-bottom: 69px; 
}
.catalog-text{
    display: block;
    max-width: 710px;
    margin: 0 auto;
}
.product{
    float: left;
    width: 264px;
    height: 369px;
    box-shadow: -1px 3px 9px 1px rgba(48, 50, 55, 0.1);
    margin-right: 30px;
    background-color: #ffffff;
}
.product:last-child{ 
    margin-right: 0px;
}
.product-img{
    width: 264px;
    height: 181px;
    margin-bottom: 20px;
}
.product-description{
    text-align: center;
    font-size: 10px;   
    line-height: 30px;
    text-transform: uppercase;
    color: #3c3c3c;
}

.contacts{
    min-height: 563px;  
}
.contacts-title-left{
    text-align: left;
    padding-bottom: 28px;
}
.address{
    color: #888788;
    font-size: 14px;    
    line-height: 20px;
    margin-bottom: 20px;
}
.contacts-info{
    float: left;
}
.map{
    float:right;   
    width:50%;
    height:563px;
}

/**********adaptive************/

@media screen and (max-width: 600px){     
    .main-title{      
        font-size: 24px;
        line-height: 40px;
        padding-top: 86px;        
        padding-left: 23px;
        padding-right: 23px;        
    }
    .title-block{     
        background-image: url(../img/title-mobile.png);
        height: 369px;
        width:100%;
        background-size: 100%;
        padding-top: 80px;
    }        
    .img-arrow{
        margin-top: 65px;
    }   
    .advantages .title{
        padding-top: 58px;
    }
    .advantages-text{
        font-size: 16px;
        margin-left: 17px;
        margin-right: 17px;
        margin-bottom: 50px;
    }
    .reason{
        width: 100%;
    }
    .catalog{
        padding-bottom: 46px; 
    }
    .catalog .title{
        padding-top: 103px;
    }
    .btn-line{
        margin-top: 27px;
    }    
    .btn-line  .btn{
        float: none;
        margin: 20px auto;
    }
    .product{
        float: none;
        margin: 0 auto;
        margin-bottom: 35px;      
    }
    .product:last-child{ 
        display: none;
    }
    .btn-gift{
        margin-top: 21px;
        margin-bottom: 0px;       
    }    
}
@media screen and (min-width: 601px) 
and (max-width: 800px){    
    .main-title{      
        font-size: 40px;
        line-height: 45px;
        padding-top: 330px;        
        padding-left: 90px;
        padding-right: 90px;        
    }
    .title-block{     
        background-image: url(../img/title-tabl.png);
        height:654px;
    }        
    .img-arrow{
        margin-top: 115px;
    }    
    .reason{
        width: 50%;
    }
    .product{      
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 35px;      
    }
    .product-line{
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .catalog-text{
        padding-right: 25px;
        padding-left: 25px; 
    }
    .btn-line  .btn{
        float: none;
        margin: 20px auto;
    }
}

@media screen and  (max-width: 800px){
    .header{
        background-color: #ffffff;
        box-shadow: 3px 4px 34px 1px rgba(0, 0, 0, 0.16);
        opacity: 1;
    }
    .menu{
        display: none;
    }    
    .btn-help{
        width: 137px;
        height: 33px;
        border-width: 2px;
        border-radius: 15px;   
        line-height: 33px;      
        font-size: 9px;
        margin-right: 14px;
        margin-top: 24px;
    }
    .title{
        font-size: 20px;
    }
    .map{
        height: 190px;
        width:100%;        
    }    
}
@media screen and (min-width: 801px) 
and (max-width: 1030px){
    .menu-item{
        width: 85px;
    }
    .btn-help{
        margin-right: 10px;
    }    
    .reason{
        width: 50%;
    }    
}

@media screen and (min-width: 801px) 
and (max-width: 1146px){
    .product{      
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 35px;
  
    }
    .product-line{
        width: 650px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and  (max-width: 1165px){
    .contacts-info{
        padding-left: 15px;        
        margin-bottom: 220px;        
    }
}